/* Homepage.scss */

.home {
  height: 100vh;
  width: 100%;
  background-image: url("../../assets/zevibg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  filter: opacity(70%);

  .container {
      width: 100%;
    margin: 0 auto;
    padding: 20px;

    .searchbox {
      max-width: 900px;
      height: 80px;
      margin: 80px auto;   
      padding: 20px;
      background: #ffffff;
      border: 1px solid #ccc;
      border-radius: 20px;
      display: flex;justify-content: center;align-items: center;

      img {
        height: 32px;
        width: 32px;
      }
    }

    .searchbox input[type="search"] {
      width: calc(100% - 40px);
      border: none;
      outline: none;
      font-size: 32px;
    }
  }
}
