.navbar {
  top: 0;
  width: 100%;


  .container{
    width: 100%;
    display: flex;
    justify-content: end;
    margin-top: 70px;


    img{
        height: 45px;
        width:auto ;
    }
  }
}
